@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}
 
 body{
    min-height: 100vh;
     background: linear-gradient(#2b1055, #7597de)
 }

 h3 {
    letter-spacing: 2px;
 }

 h3, h5, p {
    text-align: center;
    color: whitesmoke;
 }

 #imagecropper{
    width: 300px;
    height: 300px;
    position:relative;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}

.circle {
    width:10px;
    height: 10px;
    border: 1px solid green;
    position: absolute;
    border-radius: 15px;
}